<section class="card">
  <p>
    Menu Item:
    {{name}}
    Price: ${{price}}</p>
  {{!-- <p>created by {{user.username}} on {{format_date createdAt}} --}}
  <a href="/api/menu/dishes/{{id}}">Edit or delete dish</a>
</section>