<div class="container">
  
  {{#if loggedIn}}
  <div class="header">
    <h1 class="text-center shadow">Manager Dashboard</h1>
  </div>
  <div>
    <h2 class="text-warning text-center shadow">All orders:</h2>
      {{#each orders as |order|}}
    {{!-- <div class="card dishList" id="itemList">
      <p>Customer Phone: {{order.phone}}</p>
      <p>Order Status: {{order.order_status}}</p>
      <a href="/dashboard/{{order.id}}">Order Details</a>
    </div> --}}
    <div class="card dishList">
      <ul class="list-inline">
        <li class="list-inline-item">Customer Phone: {{order.phone}}</li>
        <li class="list-inline-item">Order Status: {{order.order_status}}</li>
        <li class="list-inline-item small"><a href="dashboard/{{order.id}}">Order Details</a></li>
      </ul>
    </div>
      {{/each}}
    {{/if}}

    {{!-- Out for Delivery div --}}
    {{#if outForDelivery}}
      <div>
        <h3>Out for Delivery</h3>
      </div>
    {{#each outForDelivery as |order|}}
        <div class="card" id="itemList">
            <p>Customer Phone: {{order.phone}}</p>
            <p>Order Status: {{order.order_status}}</p>
            <a href="/dashboard/{{order.id}}">Order Details</a>
          </div>
    {{/each}}
    {{/if}}

    {{!-- completed div --}}
    {{#if completed}}
      <div>
        <h3>Completed</h3>
      </div>
    {{#each completed as |order|}}
        <div class="card" id="itemList">
            <p>Customer Phone: {{order.phone}}</p>
            <p>Order Status: {{order.order_status}}</p>
            <a href="/dashboard/{{order.id}}">Order Details</a>
          </div>
    {{/each}}
    {{/if}}

    {{!-- cancelled div --}}
    {{#if cancelled}}
      <div>
        <h3>Cancelled</h3>
      </div>
    {{#each cancelled as |order|}}
        <div class="card" id="itemList">
            <p>Customer Phone: {{order.phone}}</p>
            <p>Order Status: {{order.order_status}}</p>
            <a href="/dashboard/{{order.id}}">Order Details</a>
          </div>
    {{/each}}
    {{/if}}

  </div>
  {{else}}
  <h2>You are not logged in. Click <a href="/api/login">HERE</a> to Login</h2>
  {{/if}}
