<div class="text-center text-primary-emphasis">
  <div>
    <h4 class="text-center">Update Order #{{orders.id}}</h4>
  </div>
  <div>
    <form>
      <div class="centerUpd">
        
        <label for="order-type">Update Order type:</label>
        <select class="form-select update-dropdown" id="order-type">
          <option selected value="{{orders.order_type}}">Currently:
            {{orders.order_type}}</option>
          <option value="Delivery">Delivery</option>
          <option value="Pickup">Pickup</option>
        </select>


        <label for="phone">Update Phone #:</label>
        <input type="text" id="phone" value="{{orders.phone}}" />
        <br />
        <label for="address">Update Address:</label>
        {{#if orders.address}}
          <input type="text" id="address" value="{{orders.address}}" />
        {{else}}
          <input type="text" id="address" value="N/A" />
        {{/if}}


        <br />
        <label for="status">Update order Status:</label>
        <select class="form-select update-dropdown" id="status">
          <option selected>{{orders.order_status}}</option>
          <option value="Ordered">Ordered</option>
          <option value="Preparing">Preparing</option>
          <option value="Out for Delivery">Out for Delivery</option>
          <option value="Completed">Completed</option>
          <option value="Canceled">Canceled</option>
        </select>


        <label for="payment-type">Update payment type:</label>
        <select class="form-select update-dropdown" id="payment-type">
          <option selected>{{orders.payment_type}}</option>
          <option value="Cash">Cash</option>
          <option value="Credit">Credit</option>
        </select>

      </div>

        <label for="instructions">Update instructions: &nbsp;&nbsp;</label>
        {{#if order.instructions}}
          <input type="text" id="instructions" value="{{order.instuctions}}" />
        {{else}}
          <input type="text" id="instructions" value="None" />
        {{/if}}
        <br />



        <label for="payment-type">Update payment type:</label>
        <input type="text" id="payment-type" value="{{orders.payment_type}}" />
        <br />
        <label for="order-total">Update order total: &nbsp;&nbsp;&nbsp;</label>
        <input type="text" id="order-total" value="{{orders.order_total}}" />
      </div>
      <div>
        <button id="submit-btn" value="{{orders.id}}">Submit Changes</button>
      </div>
        <br />
    </form>
  </div>
</div>
<script src="/js/updateOrder.js"></script>