<div>
  <h2 class="shadow text-center">Order Details</h2>
</div>
<div class="dishList">
  <p class="card">Order placed at {{format_time orders.createdAt}}</p>
  <p class="card">{{orders.order_type}} order for {{orders.phone}}</p>
  {{#if orders.address}}
    <p class="card">Address: {{orders.address}}</p>
  {{/if}}
  <p class="card">Status: {{orders.order_status}} </p>
  <div class="card">
    <p>Items:</p>
    <ul>
      {{#each orders.Dishes as |dish|}}
        <li>{{dish.name}}</li>
      {{/each}}
    </ul>
  </div>
  <p class="card">Instructions: {{orders.instructions}}</p>
  <p class="card">Payment type: {{orders.payment_type}}</p>
  <p class="card">Order Total: ${{orders.order_total}}</p>
</div>
<div class="text-center">
  <a href="/dashboard/update/{{orders.id}}"><button type="submit">Update Order</button></a>
  <button id="delete-btn" value="{{orders.id}}" type="submit">Delete Order</button>
</div>
<script src="/js/deleteOrder.js"></script>